@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.first-header{
    color: #5C4031;
    font-family: 'Crimson+Text';
    padding: 1em;
    
}

.saved-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2E9EA;
}

.saved-flex-container{
    display: flex;
    height: 100%;
}

.saved-flex-container > div {
    width: 50%;
}

.details-background{
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}